server {

    access_log  off;

    root "/srv/public";

    server_name app-cached;

    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?_url=$uri&$args;
    }

    location ~ \.php {

        proxy_connect_timeout 600;
        proxy_send_timeout 600;
        proxy_read_timeout 600;
        fastcgi_read_timeout 600;
        send_timeout 600;

        fastcgi_pass            127.0.0.1:9000;
        fastcgi_index /index.php;

        include fastcgi_params;
        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}



proxy_cache_path /var/cache/nginx keys_zone=apiCache:1000m levels=1:2 inactive=30d max_size=1g use_temp_path=off;
server {
    listen 80 default_server;

    access_log  off;

    location /nginx_status {
        stub_status;
    }

    location / {

        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*';

            add_header 'Access-Control-Allow-Credentials' 'true';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since,token';

            add_header 'Access-Control-Max-Age' 86400;
            add_header 'Content-Type' 'text/plain charset=UTF-8';
            add_header 'Content-Length' 0;
            return 204; break;
        }


        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since,token';

        add_header X-Cache-Date $upstream_http_date;
        add_header X-Cache-Status $upstream_cache_status;


        proxy_ignore_headers "Set-Cookie";
        proxy_hide_header "Set-Cookie";

        proxy_pass http://127.0.0.1$1;
        proxy_set_header Host 'app-cached';

        proxy_cache apiCache;
        proxy_cache_lock on;
        proxy_cache_methods GET HEAD;
        proxy_cache_key $request_uri;

        proxy_cache_bypass $http_x_purge_cache;



    }
}